@import url('https://fonts.googleapis.com/css2 ?family=Bebas+Neue&family=Square+Peg&display=swap');
* {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}
body {
    font-family: "Bebas Neue",'Square Peg', open-sans;
    font-size: 20px;

}
.info {
    background: blanchedalmond;
    margin-bottom: 25px;
    border-radius: 20px;
    padding: 15px 25px;
}

.photo {
    float: left;
    border-radius: 12px;
    display: flex;
    width: 200px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 25);
}

.card {
    background: blanchedalmond;
    margin-bottom: 25px;
    border-radius: 20px;
    padding: 15px 25px;

}
